.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 130px;
  width: 130px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  cursor: pointer;
  margin-left: 0;
  padding: 0;
  box-sizing: border-box;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button_line {
  width: 113%;
  height: 2px;
  background: white;
}

.toggle-button_title {
  color: white;
  margin: 5px 20px;
  display: center;
}

.spacer {
  flex: 1;
}
